[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {editable = true, ref = "bfb056367d4ad2a25525db449fb52620af9d44e4", git = "https://www.github.com/AfricasVoices/CoreDataModules"}
pytz = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.6"
