[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {editable = true, ref = "04c6633273989b4efc46a79ec671942e67fbf7de", git = "https://www.github.com/AfricasVoices/CoreDataModules"}
pytz = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.6"
