[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {editable = true, ref = "5e888b586b36316492e2af5d66b4b956a3baf9db", git = "https://www.github.com/AfricasVoices/CoreDataModules"}
PipelineInfrastructure = {editable = true, ref = "2390ad8af87edca38d71ea5666a8758a0c4c124f", git = "https://www.github.com/AfricasVoices/PipelineInfrastructure"}
pytz = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.6"
